@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.container{
    max-width: 80em;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{ 
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #f4f4f4;
}

.text-dark{
    color: black;
}

.text-xxx{
    color: rgb(75, 126, 128);
}
.text-button1{
    color: darkgreen;
}
.text-button2{
    color: brown;
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

#header nav{
    background-color: #8dd1e9;
    padding: 1.5em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Merriweather', serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#a5d5e6;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: #b48cd0;
    border-color: #b48cd0;
}

/* styling for add_user & update_user */
#full-form{
    background-color: #bd9fd2;
    padding-top: 0.1em;
    padding-bottom: 2em;
}
.form-title{
    margin-top: 1em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 50em;
    margin: auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    background-color:khaki;
}

input[type="radio"] {
    text-align: center;
    margin: 1em;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border-radius: 60%;
  }

